<h1>Arist Recommendation Page</h1>
<!-- creating home page -->
<h2>What kind of mood are you in?</h2>

<p>
<h3><button><a href='make_answer?mood=mellow'>Mellow</a></button></h3>

<h3><button><a href='make_answer?mood=energetic'>Energetic</a></button></h3>

<h3><button><a href='make_answer?mood=headache'>Looking for a Headache</a></button></h3>
</p>